/* ==UserStyle==
@name           niconico show full nicoru count
@namespace      github.com/rinsuki
@version        1.0.0
@description    ニコるのカウントを略さず表示します
@author         rinsuki
==/UserStyle== */

@-moz-document url-prefix("https://www.nicovideo.jp/watch/") {
    span.NicoruCell-count[data-nicoru-count]::before {
        content: attr(data-nicoru-count);
        padding-right: 10em;
    }
    .CommentPanelDataGrid-TableCell[data-name="nicoruCount"] {
        padding: 0 4px;
    }
}
